.edit-btn {
    color:  #cf2032;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 1.2;
    margin-left: 8px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: .5px;
    transition: all .7s;
}

.edit-btn:hover {
    transform: scale(1.2);
     
}

.App {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

.dark-mode {
    background-color: black;
    color: white;
}

.form-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-number {
    flex: 1;
    border: 2px solid transparent;
    padding: 4px 12px;
    border-radius: 4px;
    outline: none;
    transition: all .7s;
}

.input-number:focus {
    border: 2px solid #4285F4;
}

.save-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    color: white;
    background-color: #4285F4;
    padding: 3px 8px;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: all .7s;
}

.save-btn:hover {
    color: #4285F4;
    border: 2px solid #4285F4;
    background-color: white;
}